[submodule "nvim"]
	path = nvim
	url = https://github.com/zmumbauer/nvim
	branch = main
[submodule "vendor/ohmytmux"]
	path = vendor/ohmytmux
	url = https://github.com/gpakosz/.tmux.git
	branch = master
[submodule "vendor/ohmyzsh"]
	path = vendor/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
	branch = master
